{
  "import/no-anonymous-default-export": [
    {
      "allowArray": false,
      "allowArrowFunction": false,
      "allowAnonymousClass": false,
      "allowAnonymousFunction": true,
      "allowCallExpression": true, // The true value here is for backward compatibility
      "allowLiteral": false,
      "allowObject": false
    }
  ]
}
// {
//   "import/no-anonymous-default-export": [2, { "allowAnonymousFunction": true }]
// }
